body {
  background: linear-gradient(120deg, rgba(64, 0, 128, .95) 0%, rgba(64, 0, 64, .95) 100%);
  min-height: 100vh;
  padding-bottom: 20px;
}

.hero {
  width: 100%;
  height: 600px;
  background-color: rgba(255,255,255,0) !important;
}

.MuiCard-root.hero-card {
  height: 440px;
  overflow-y: auto;
}

.status-avatar {
  background: rgba(255, 0, 128, .95) !important;
  color: #fff;
}

.mode-avatar {
  background: rgba(255, 0, 128, .95) !important;
  color: #fff;
}

.client-avatar {
  background: rgba(255, 0, 128, .95) !important;
  color: #fff;
}

.MuiAvatar-root.small-avatar {
  width: 22px !important;
  height: 22px !important;
  font-size: 12px !important;
  background: #111;
 }

.openInNew {
  width: 16px !important;
  height: 16px !important;
  font-size: 10px !important;
}
